.DS_Store
ios/swiftcare.xcodeproj/project.xcworkspace/xcuserdata/trongnguyen.xcuserdatad/UserInterfaceState.xcuserstate
ios/swiftcare.xcodeproj/project.xcworkspace/xcuserdata/trongnguyen.xcuserdatad/UserInterfaceState.xcuserstate

# Chrome extension
chromeextension/node_modules/
chromeextension/dist/
